---
import ScrollReveal from "./ScrollReveal.tsx";
---

<section
	id="about"
	class="bg-black text-white px-4 py-8 flex justify-center items-center"
>
	<ScrollReveal client:idle scale={true}>
		<div
			class="flex justify-center items-center flex-col p-6 text-center min-h-[30vh]"
		>
			<h2 class="font-display text-5xl md:text-6xl font-bold mb-2">
				Ready to Get Started?
			</h2>
			<a
				href="mailto:hello@mlkkrt.com"
				class="inline-flex items-center gap-2 px-6 py-2 bg-white text-black hover:bg-gray-100 transition-colors font-medium mt-8"
			>
				Reach Out Here
			</a>
		</div>
	</ScrollReveal>
</section>
