---
/* eslint-disable react/jsx-key */
import ScrollReveal from "./ScrollReveal.tsx";
import { Icon } from "astro-icon/components";

const WHAT_WE_DO = [
	{
		icon: "tabler:hand-click",
		heading: "Interactive UI-Based Works",
		description:
			"We design interfaces as experiences, systems and installations that invite physical engagement and participation, often moving from software into tangible outputs.",
	},
	{
		icon: "tabler:flask",
		heading: "Experience Prototyping",
		description:
			"We use rapid prototyping to explore interaction, behavior, and form. The focus is on clarity through making, not production polish.",
	},
	{
		icon: "tabler:3d-cube-sphere",
		heading: "From Graphics to Physical Artifacts",
		description:
			"We translate graphic work from screen to physical formats, grounding digital systems in material outcomes.",
	},
];
---

<section
	id="features"
	class="mt-20 mb-10 px-4 py-8 flex justify-center items-center flex-col"
>
	<ScrollReveal client:idle delay={0.1}>
		<h2
			class="font-display text-5xl md:text-6xl font-bold text-gray-900 text-center mb-6"
		>
			Built for more than the surface.
		</h2>
		<p
			class="text-xl md:text-2xl lg:text-3xl text-gray-800 mb-4 max-w-7xl mx-auto"
		>
			We design experimental interfaces that don’t just stay stuck behind a
			smooth surface. Whether it’s a digital UI or a physical object you can
			actually grab, we want to make systems feel more participatory and, human.
			We’re resourceful, a little lo-fi, but built to hold some real weight,
			just like the humble milk crate. We’re still figuring out what’s next, but
			we’re obsessed with the craft of stacking ideas until they click.
		</p>
	</ScrollReveal>
	<div class="grid md:grid-cols-3 gap-8 mt-20 max-w-7xl text-center">
		{
			WHAT_WE_DO.map((item, index) => (
				<ScrollReveal client:idle delay={0.2 + index * 0.1}>
					<div class="text-left">
						<div class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 bg-gray-100 flex items-center justify-center mb-4">
							<Icon
								name={item.icon}
								class="w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 text-gray-900"
								aria-hidden="true"
							/>
						</div>
						<h3 class="text-2xl md:text-3xl font-semibold text-gray-900 mb-2">
							{item.heading}
						</h3>
						<p class="text-lg md:text-xl text-gray-600 leading-relaxed">
							{item.description}
						</p>
					</div>
				</ScrollReveal>
			))
		}
	</div>
</section>
